<br>
<h3>Add New Data / Update Old Data</h3>
<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#home1">Spring Data</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#amenu1">Coiling</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#amenu6">Grinding</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#amenu2">Chamfering</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#amenu3">Shot Peening & Colour Coding</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#amenu4">Hot Pre-Setting</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#amenu5">Production No's</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div id="home1" class="container tab-pane active"><br>
			<h4>Spring Data</h4>
			<app-spring-comp></app-spring-comp>
		</div>
		<div id="amenu6" class="container tab-pane fade"><br>
			<app-grinding-comp></app-grinding-comp>
		</div>
		<div id="amenu1" class="container tab-pane fade"><br>
			<app-coiling-comp></app-coiling-comp>
		</div>
		<div id="amenu2" class="container tab-pane fade"><br>
			<app-chamfering-comp></app-chamfering-comp>
		</div>
		<div id="amenu3" class="container tab-pane fade"><br>
			<app-spcc-comp></app-spcc-comp>
		</div>
		<div id="amenu4" class="container tab-pane fade"><br>
			<app-hps-comp></app-hps-comp>
		</div>
		<div id="amenu5" class="container tab-pane fade"><br>
			<app-production-comp></app-production-comp>
		</div>
	</div>